*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

.rodri{
    background-color: rgba(var(--b3f,250,250,250),1);
    margin-top: 30px;
}

.stories-wrapper{
    /* margin: 100px auto; */
    width: 614px;
    height: 120px;
    margin: 0 auto;
    background-color: #fff;
}

:root{
    --bg-color:white
}

.header{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 54px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header__logo__image{
    width: 103px;
    height: 29px;
}

.buscador{
    border-radius: 3px;
    width: 215px;
    height: 28px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador p{
    padding: 0px 5px;
}

.icons{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.icons svg{
    cursor: pointer;
}

.stories-container{
    display: flex;
    height: 120px;
    border: solid 2px #ccc;
    padding: 16px 0;
}

.story{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;

}

.story .profile{
    background: rgb(255, 201, 0);
    background: linear-gradient(36deg, rgb(255, 201, 0)13%,rgb(255, 0, 95) 73%, rgb(255, 9, 237)100%);
    ;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
}

.story .profile img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    margin-top: 2px;
    border: solid 1px var(--bg-color);
}

.story .title{
    text-align: center;
    padding: 5px 0;
}

.story.active .profile{
    animation-duration: 1s;
    animation-name: story;
    animation-iteration-count: infinite;
}

.story .profile.empty{
    background: #ccc;
}

@keyframes story {
    0%{
        background: linear-gradient(36deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    10%{
        background: linear-gradient(72deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    20%{
        background: linear-gradient(100deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    30%{
        background: linear-gradient(144deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    40%{
        background: linear-gradient(180deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    50%{
        background: linear-gradient(216deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    60%{
        background: linear-gradient(252deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    70%{
        background: linear-gradient(288deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    80%{
        background: linear-gradient(324deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    90%{
        background: linear-gradient(360deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }

    100%{
        background: linear-gradient(396deg, rgb(255, 255, 255)0%, rgb(255, 255, 255)25%, rgb(255, 201, 0) 28%, rgb(255, 0, 95)73%, rgb(255, 9, 237)100%);       
    }
}

/* Publicacion de instagram */
.stories-image{
    border: 1px solid red;
    margin-top: 100px;
    background-color: rgba(250,250,250,1);
}

.stories-image__header{
    display: flex;
    flex-direction: row;
    padding: 16px;
    height: 60px;
}

.header-image__user{
    width: 35px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.header-container__user{
    display: flex;
    flex-direction: row;
    justify-content: space-between	;
    border: 1px solid green;
    margin-left: 15px;
    width: 100%;
}

.header-container__data{
    border: 1px solid red;
}

.image-header__title{
    font-size: 14px;
    font-weight: 700;
}

.image-header__description{
    font-size: 12px;
}

.stories-image__image{
    width: 100%;
}